<h2>Envio de informacion para contact</h2>
<div class="manual mente">
	<a href="/pages/contact">Contact</a>
	<a href="/pages/about">About</a>	
</div>

<div class="generado por rails">
	<%= link_to("About", about_path)%>
	<%= link_to("Contact", contact_path)%>	
</div>

<div>
	<%= image_tag("idea2.jpg", alt: "Digimon") %>
</div>

<div class="trafel_img">
	
</div>

